*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;


}

.dark-mode{
    background-color: black;
}

.dark-mode .header{
    background-color: black;
    
}

.dark-mode .header a{
    color: #fff;
}

.dark-mode input{
    background-color: black;
    border-bottom: 2px solid #161b22ef ;
    color: white;
}

.dark-mode input:focus{
    border-bottom: 3px solid white;
}

.dark-mode .toggle{
    background-color: black;
}


/* header*/
.header{
    text-align: left;    
    background-color: #E5989B;
    
}

.header a{
    text-decoration: none;
    color: #fff;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    background-color: #fff;
    width: 400px;
    height: 500px;
    margin: 2vw auto;
    border-radius: 10px;

    
}

.title h1{
    color: #E5989B;
    font-weight: 800;
    padding-bottom: 1rem;
}

.login-container form{
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

form input{
    width: 300px;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 2px solid black ;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

form input:focus{
    
    border-bottom: 3px solid black;
}


.login-container .forgot-password{
    text-decoration: none;
    color: #E5989B;
    font-size: 0.8rem;
    padding-left: 12rem;
}

button{
    border-radius: 10px;
    padding: 10px 18px;
    color: white;
    background-color: #E5989B;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* empty input */
.input-field .error-text{
    font-size: 0.8rem;
    color: #d93025;
    padding: 0.2rem;
    display: none;
}

.input-field.error input,
.input-field.error textarea{
    border-bottom: 2px solid #d93025;
}

.input-field.error .error-text{
    display: block;
    text-align: left;
}

